export ILOVE_DB_NAME=ilove
export ILOVE_DB_USER=root
export ILOVE_DB_PASSWORD=
export ILOVE_HTTP_ADDR=:9900
export ILOVE_ENV=development
export ILOVE_BASIC_AUTH_USER=
export ILOVE_BASIC_AUTH_PASSWORD=
export ILOVE_BASIC_AUTH_BLOG_EDITORS=
