export ILOVE_DB_NAME=ilove
export ILOVE_ENV=development
export ILOVE_DB_USER=root
export ILOVE_DB_PASSWORD=
export ILOVE_PORT=9900
export ILOVE_ENV=development
export ILOVE_BASIC_AUTH_USER=
export ILOVE_BASIC_AUTH_PASSWORD=
export ILOVE_BASIC_AUTH_BLOG_EDITORS=
export ADMIN_AUTH_MountPath="/auth"
export ADMIN_AUTH_CookieName="Ilove"
export ADMIN_AUTH_CookieKey="MLxWpWgQifDJ33zoCjz77rH5HR3ifJ8kmT3JqfUuKCEKbGXkwCXKZRoyKCnwoEd1wWnRP2cFcDZxxycpQLp3EQ=="
export ADMIN_AUTH_SessionKey="EGxRGrqkogymr5EHAX9V3RAzaZzj9AheLXM4M6DZDuGsEdBnfw8veekXWDY11pfsWXtQsJMzZxRm2zpjGg9dJQ=="
export ADMIN_AUTH_SuperAdminEmail="a@theplant.jp"
export ADMIN_AUTH_SuperAdminPassword="aworks"
export ADMIN_AUTH_LoginRedirectPath="/admin"
export ADMIN_AUTH_LogoutRedirectPath="/auth/login"
export ADMIN_AUTH_ViewPath="/Users/xinchen/go/src/github.com/theplant/ec/admin_auth/views/auth"

